<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Save The Sea!</title>
    <link rel="stylesheet" type="text/css" href='static/save_the_sea.css' />
  </head>
  <body>
    <nav id="nav_bar">
        <img src="/static/bone-fish.png" />
        <ul class="nav-links">
            <li class="nav-item">Home</li>
            <li class="nav-item">Events</li>
            <li class="nav-item">Contracts</li>
            <li class="nav-item">Campaign</li>
            <li class="nav-item">About Us</li>
        </ul>
        
        
    </nav>
    <div id="save_the_sea">
        <div class="title">
            SAVE THE SEA
        </div>
        <div class="sub_text">
            <p>We are working hard to save the sea and sea creatures.</p>
            <p>Have us to make a good future</p>
        </div>
        <div class="buttons">
            <button class="know_more">Know More</button>
            <button class="donate_now">Donate Now</button>
        </div>
    </div>
    <div id="icon_container">
        <image src="/static/instagram.png" height=25em width=25em /> 
        <image src="/static/twitter.png" height=25em width=25em /> 
        <image src="/static/facebook.png" height=25em width=25em /> 
    </div>
  </body>
</html>
